<div class="form-horizontal">
    <div class="form-group">
        <h2 class="pull-left">Create project</h2>

        <div class="input-group pull-right col-lg-3 col-md-4 col-sm-6" style="margin-top: 20px; max-width: 300px">
            <button type="button" class="btn btn-primary pull-right" ui-sref="project/list">
                <span class="glyphicon glyphicon-list" style="font-size: smaller;"></span>
            </button>
        </div>
    </div>
</div>

<form name="modelEditorForm">
    <div class="form-horizontal col-md-4 col-md-push-2 col-sm-7 col-xs-12">
        <div class="panel panel-default">
            <tv-project-modeleditor></tv-project-modeleditor>
            <div class="panel-footer">
                <div class="text-center">
                    <button class="btn btn-primary" 
                            ng-disabled="modelEditorForm.$invalid" 
                            ng-click="projectHandler.createProject();"
                            type="submit">
                        Save
                    </button>
                    <button class="btn btn-danger"
                            ng-click="model = null;"
                            ui-sref="project/list"
                            type="reset">
                        Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-md-push-2 col-sm-5 col-xs-12">
        <tv-user-list-selector></tv-user-list-selector>
    </div>
</form>