<div>
    <div class="panel-body">
        <strong>{{project.Name}}</strong>

        <div class="pull-right">
            <button class="glyphicon glyphicon-pencil icon-button" title="Edit project" ui-sref="project/edit({ projectId: project.ID })"></button>
            <button class="glyphicon glyphicon-trash icon-button alert-danger" title="Delete project" ui-sref="project/delete({ projectId: project.ID })"></button>
        </div>

    </div>

    <!-- TODO: project progress -->
    <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: 10%;">
            <span class="sr-only">10% Complete</span>
        </div>
    </div>

    <div class="panel-footer">
        <div ng-show="project.Description.length > 0">
            <label class="control-label">Description:</label> <div class="well well-sm" style="background: white"> {{project.Description}}</div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <button class="glyphicon glyphicon-check icon-button" title="Tasks" ui-sref="task/list({ projectId: project.ID })">{{project.taskCount}}</button>
                <button class="glyphicon glyphicon-blackboard icon-button" title="Meetings" ui-sref="meeting/list({ projectId: project.ID })" disabled>{{project.futureMeetingCount}}</button>
                <button class="glyphicon glyphicon-user icon-button" title="Users" disabled>1</button><!--{{project.boundUsers}}-->
                <span class="glyphicon glyphicon-time icon-button" title="Estimated project time">{{project.EstimatedTimeInHours}}h</span>
            </div>
        </div>
        <!-- TODO: handle additional data, another fullviewer? -->
        <!--<div class="row">
            <div class="col-sm-6">
                <label class="control-label">Datespan:</label> {{project.StartDate | aspDate | date : 'MM/dd/yyyy' }}-{{project.Deadline | aspDate | date : 'MM/dd/yyyy' }}
            </div>
        </div>-->

    </div>
</div>