<div class="form-horizontal">
    <div class="form-group">
        <h2 class="pull-left">{{model.Name}}</h2>

        <div class="input-group pull-right col-lg-3 col-md-4 col-sm-6" style="margin-top: 20px; max-width: 300px">
            <button type="button" class="btn btn-danger pull-right" title="Delete project" ui-sref="project/delete({ projectId: currentProjectId })">
                <span class="glyphicon glyphicon-trash" style="font-size: smaller;"></span>
            </button>
            <button type="button" class="btn btn-default pull-right" title="Edit project" ui-sref="project/edit({ projectId: currentProjectId })">
                <span class="glyphicon glyphicon-pencil" style="font-size: smaller;"></span>
            </button>
            <button type="button" class="btn btn-default pull-right" ui-sref="project/list({ projectId: currentProjectId })">
                <span class="glyphicon glyphicon-list" style="font-size: smaller;"></span>
            </button>
        </div>
        <div class="clearfix"></div>
        <h4 class="pull-left small text-muted" style="margin-top: 0" ng-show="model.StartDate || model.Deadline">
            {{model.StartDate | date : 'MM/dd/yyyy'}}
            -
            {{model.Deadline | date : 'MM/dd/yyyy'}}
        </h4>
    </div>
</div>

<div class="form-group">
    <div class="col-sm-6 col-xs-12">
        <div class="progress" style="height: 4px !important; border-radius: 0; margin-bottom: 0 !important">
            <div class="progress-bar" role="progressbar" aria-valuenow="{{stats.Progress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{stats.Progress}}%;">
                <span class="sr-only">{{stats.Progress}}% Complete</span>
            </div>
        </div>
        <div class="well col-xs-12" style="border-top-left-radius: 0;border-top-right-radius: 0;" ng-show="model.Description">
            {{model.Description}}
            <p ng-hide="model.Description">No description provided.</p>
        </div>
    </div>
    <div class="col-sm-6 col-xs-12">
        <tv-user-list-viewer></tv-user-list-viewer>
    </div>
</div>

<uib-tabset>
    <uib-tab heading="Tasks">
        <tv-task-model-table-viewer></tv-task-model-table-viewer>
    </uib-tab>
    <uib-tab heading="Meetings">
        <tv-meeting-model-table-viewer></tv-meeting-model-table-viewer>
    </uib-tab>
</uib-tabset>



<!--<div>
                <button class="icon-button clear-letter-spacing" title="Tasks" ui-sref="task/list({ projectId: object.Project.ID })" style="margin-right: .8em;">
                    <span class="glyphicon glyphicon-check"></span>
                    <span class="glyphicon-addon">{{object.Stats.TaskCount}}</span>
                </button>
                <button class="icon-button clear-letter-spacing" title="Meetings" ui-sref="meeting/list({ projectId: object.Project.ID })" style="margin-right: .8em;">
                    <span class="glyphicon glyphicon-blackboard"></span>
                    <span class="glyphicon-addon">{{object.Stats.FutureMeetingCount}}</span>
                </button>
                <button class="icon-button clear-letter-spacing" ui-sref="project/edit({ projectId: object.Project.ID })" style="margin-right: .8em" title="Users">
                    <span class="glyphicon glyphicon-user"></span>
                    <span class="glyphicon-addon">{{object.Stats.BoundUsers}}</span>
                </button>
                <span class="icon-button clear-letter-spacing" style="cursor: default; margin-right: .8em" title="Estimated project time">
                    <span class="glyphicon glyphicon-time"></span>
                    <span class="glyphicon-addon">
                        {{object.Project.EstimatedTimeInHours}}h
                    </span>
</div>-->
