@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    TaskVlopper corp<br />
    Does Not Have An Address<br />
    <abbr title="Phone">P:</abbr>
    NaN
</address>

<address>
    <strong>Support:</strong>   Not yet in existence<br />
    <strong>Marketing:</strong> Not yet in existence
</address>