@model TaskVlopper.Models.ProjectViewModel

@using (Html.BeginForm("Delete", "Project"))
{
    <h5>Are you sure to delete project?</h5>
    <input type="submit" value="Delete" class="btn btn-danger" />
}