<div class="form-horizontal">
    <div class="form-group">
        <h2 class="pull-left">Edit task</h2>

        <div class="input-group pull-right col-lg-3 col-md-4 col-sm-6" style="margin-top: 20px; max-width: 300px">
            <button type="button" class="btn btn-primary pull-right" ui-sref="task/list">
                <span class="glyphicon glyphicon-list" style="font-size: smaller;"></span>
            </button>
        </div>
    </div>
</div>

<form name="modelEditorForm" ng-init="taskHandler.initEditor()">
    <div class="form-horizontal col-md-4 col-md-push-4 col-sm-6 col-sm-push-3">
        <div class="panel panel-default">
            <tv-task-modeleditor></tv-task-modeleditor>
            <div class="panel-footer">
                <div class="text-center">
                    <button class="btn btn-primary"
                            type="submit"
                            ng-disabled="modelEditorForm.$invalid"
                            ng-click="taskHandler.editTask();">
                        Save
                    </button>
                    <button class="btn btn-danger"
                            ng-click="model = null;"
                            ui-sref="task/list({ projectId: currentProjectId })">
                        Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>