<div class="form-horizontal">
    <div class="form-group">
        <h2 class="pull-left">Tasks</h2>

        <div class="input-group pull-right col-lg-3 col-md-4 col-sm-6" style="margin-top: 20px; max-width: 300px">
            <input type="text" placeholder="Search by project name..." class="form-control searchInput" ng-model="controller.taskSearchInput" />
            <div class="input-group-addon">
                <span class="glyphicon glyphicon-search"></span>
            </div>
            <button type="button" class="btn btn-primary pull-right" ui-sref="task/create({ projectId: currentProjectId })">
                <span class="glyphicon glyphicon-plus" style="font-size: smaller;"></span>
            </button>
            <button type="button" class="btn btn-default pull-right searchButton">
                <span class="glyphicon glyphicon-search" style="font-size: smaller;"></span>
            </button>
        </div>
    </div>
</div>

<tv-task-model-table-viewer></tv-task-model-table-viewer>

<div class="alert alert-warning" ng-show="(tasks | filter: controller.taskSearchInput ).length == 0 && tasks.length > 0">
    No task satisfying the current query.
</div>
