<div>
    <table class="table table-striped" ng-show="(tasks | filter: controller.taskSearchInput ).length > 0">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th title="Worked/estimated time">W/E time (h)</th>
                <th>Storypoints</th>
                <th>Status</th>
                <th>Executive user</th>
                <th title="No. of users watching task">Watching</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="object in tasks | filter: controller.taskSearchInput" class="animation">
                <th scope="row">{{object.Task.ID}}</th>
                <td title="{{object.Task.Description}}">{{object.Task.Name}}</td>
                <td>{{object.Stats.LoggedHours}}/{{object.Task.EstimatedTimeInHours}}</td>
                <td>{{object.Task.Storypoints}}</td>
                <td>{{object.Task.statusName}}</td>
                <td>{{object.Task.ExecutiveUserID}}</td>
                <td>{{object.Stats.Watchers}}</td>
                <td>
                    <div class="btn-group-xs">
                        <button class="btn btn-default glyphicon glyphicon-time" style="font-size: .8em; margin-top: -5px" ui-sref="worklog/list({ taskId: object.Task.ID, projectId: currentProjectId })"></button>
                        <button class="btn btn-default glyphicon glyphicon-pencil" style="font-size: .8em; margin-top: -5px" ui-sref="task/edit({ taskId: object.Task.ID, projectId: currentProjectId })"></button>
                        <button class="btn btn-danger glyphicon glyphicon-trash" style="font-size: .8em; margin-top: -5px" ui-sref="task/delete({ taskId: object.Task.ID, projectId: currentProjectId })"></button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="alert alert-info animation" ng-hide="tasks.length > 0">
        Currently no tasks available. Add a task.
    </div>
</div>