<div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    @Html.ActionLink("TaskVlopper", "Index", "Dashboard", new { area = "" }, new { @class = "navbar-brand" })
</div>
<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav" ng-cloak>
        @if (User.Identity.IsAuthenticated)
        {
            <li ng-class="{active: projectView}"><a ui-sref="project/list" role="button">Projects</a></li>
            <li ng-class="{active: taskView}" ng-show="currentProjectId"><a ui-sref="task/list({ projectId: currentProjectId })" role="button">Tasks</a></li>
            <li ng-class="{active: meetingView}" ng-show="currentProjectId"><a ui-sref="meeting/list({ projectId: currentProjectId })" role="button">Meetings</a></li>
        }
    </ul>
    <ul class="nav navbar-nav">
        <li role="separator" class="divider"></li>
    </ul>
    @Html.Partial("_Login")
</div>