@model TaskVlopper.Models.ErrorViewModel

@{
    ViewBag.Title = string.Join(" ", Model.HttpCode, Model.Message);
}

<h1 class="text-danger">@ViewBag.Title</h1>
<h4 class="text-danger">An error occurred while processing your request.</h4>

<button onclick="window.history.back(); return false;" class="btn btn-primary">Go back</button>