<div>
    <div class="panel-heading">
        <input type="text" placeholder="Title" class="form-control"
               ng-model="model.Title"
               ng-required="true" required autofocus />
    </div>

    <div class="panel-body">
        <div class="form-group">
            <div class="col-xs-12">
                <textarea class="form-control" placeholder="Description" rows="3" ng-model="model.Description"></textarea>
            </div>
        </div>

        <div class="input-group">
            <input type="text" class="form-control"
                   placeholder="Date"
                   uib-datepicker-popup="{{format}}"
                   ng-model="model.DateAndTime"
                   is-open="status.opened1"
                   max-date="{{ model.DateAndTime }}"
                   datepicker-options="dateOptions"
                   date-disabled="disabled(date, mode)" required />
            <span class="input-group-btn">
                <button type="button" class="btn btn-default"
                        ng-click="open($event, 1)">
                    <i class="glyphicon glyphicon-calendar"></i>
                </button>
            </span>
        </div>
    </div>
</div>