.animation { 
    -webkit-transition: 500ms all;
    -moz-transition: 500ms all;
    -ms-transition: 500ms all;
    -o-transition: 500ms all;
    transition: 500ms all;
} 

.animation.ng-leave.ng-leave-active,
.animation.ng-enter {
    opacity: 0;
}        

.animation.ng-enter.ng-enter-active,
.animation.ng-leave {
    opacity: 1;
}