body {
    padding-top: 50px;
    padding-bottom: 20px;
    height: 100vh;
    font-size: 12px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    height: 100%;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set resize on textareas to vertical only */
textarea {
    resize: vertical;
}

/* Fix for form-horizontal clearfix bug */
.form-horizontal:after {
    clear: both;
    display: block;
    content: "";
}

/* Addon for icons as action buttons */
.icon-button {
    padding: 0 .2em;
    cursor: pointer;
    background: none !important;
    border: none;
    letter-spacing: 3px;
}

    .icon-button:disabled {
        cursor: not-allowed;
        text-decoration: none;
        color: rgba(30,30,30,.3);
    }

/* Fix for row and panel */
.project-panel {
    padding: 0;
    margin: .5em;
    width: calc(20% - 1em);
}

    .project-panel .panel-body {
        padding: 10px 5px 10px 15px;
    }

@media all and (max-width: 800px) {
    .project-panel {
        width: calc(25% - 1em);
    }
}

@media all and (max-width: 600px) {
    .project-panel {
        width: calc(33% - 1em);
    }
}

@media all and (max-width: 500px) {
    .project-panel {
        width: calc(50% - 1em);
    }

     .searchInput {
         display: none;
     }
}

@media all and (max-width: 370px) {
    .project-panel {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
}

.project-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}

/* Flat design styles */
.panel, .alert, .btn, input, .form-control, .input-group, .input-group-addon {
    border-radius: 0 !important;
}

/* Glyphicon font size fix */
.glyphicon {
    font-size: .85em;
}

/* Straight inheritance panel fix */
.panel-default .panel-heading {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
}
