body {
    padding-top: 50px;
    padding-bottom: 20px;
    height: 100vh;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    height: 100%;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set resize on textareas to vertical only */
textarea {
    resize: vertical;
}

/* Fix for form-horizontal clearfix bug */
.form-horizontal:after {
    clear: both;
    display: block;
    content: "";
}

/* Addon for icons as action buttons */
.icon-button {
    padding: 0 .2em;
    cursor: pointer;
    background: none !important;
    border: none;
}

.icon-button:disabled {
    cursor: not-allowed;
    text-decoration: none;
    color: rgba(30,30,30,.3);
}

/* Fix for row and panel */
.project-panel {
    padding: 0;
}

/* Flat design styles */
.panel, .alert, .btn, input, .form-control, .input-group, .input-group-addon {
    border-radius: 0 !important;
}