<!--model TaskVlopper.Models.ChangePasswordViewModel-->

<h2>Change password</h2>

<div class="form-group">
    <form role="form" name="modelEditorForm" class="form-horizontal col-md-9 col-sm-11 col-xs-12">
        <!--Html.AntiForgeryToken()-->
        <div class="form-group">
            <label for="OldPassword" class="col-xs-3 control-label" ng-model="model.OldPassword">Old password</label>
            <div class="col-xs-9">
                <input type="password" id="OldPassword" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label for="NewPassword" class="col-xs-3 control-label" ng-model="model.NewPassword">New password</label>
            <div class="col-xs-9">
                <input type="password" id="NewPassword" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label for="ConfirmPassword" class="col-xs-3 control-label" ng-model="model.ConfirmPassword">Confirm password</label>
            <div class="col-xs-9">
                <input type="password" id="ConfirmPassword" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-offset-3 col-xs-9">
                <input type="submit" value="Change password" class="btn btn-success" 
                       ng-disabled="modelEditorForm.$invalid"
                       ng-click="userHandler.changePassword();" />
                <input tyle="reset" value="Cancel" class="btn btn-danger" 
                       ng-click="model = null;"
                       ui-sref="/user/manage" />
            </div>
        </div>
    </form>
</div>