<ul class="list-group">
    <li class="list-group-item">Binded users</li>

    <li class="list-group-item"
        ng-class="{active: user.isSelected, 'item-pointer': user.isSelectable}"
        ng-click="user.isSelectable ? dashboardHandler.triggerUserClick(user) : null"
        ng-repeat="user in (users | filter: { Email: controller.userSearchInput } | limitTo: 10)"
        title="{{user.isOwner ? 'Project owner: ' + user.Email : user.isCurrentUser ? 'You' : user.Email}}">

        <span class="glyphicon" ng-class="{'glyphicon-user': !user.isCurrentUser, 'glyphicon-play': user.isCurrentUser}">&nbsp;</span>
        {{user.Email}}
        <span class="glyphicon glyphicon-star" title="Project owner" ng-show="user.isOwner"></span>

    </li>

    <li class="list-group-item blank text-center" ng-show="(users | filter: { Email: controller.userSearchInput }).length > 10">...</li>

    <li class="list-group-item">
        <div class="input-group input-group-sm">
            <input type="text" class="form-control form-control-sm" placeholder="Search users" ng-model="controller.userSearchInput">
            <span class="input-group-addon">
                <span class="glyphicon glyphicon-search"></span>
            </span>
        </div>
    </li>
</ul>