
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div ng-controller="DashboardController as dashboard" class="container-fluid">
    @Html.Partial("../Project/ngIndex")
</div>


@section scripts{
    <script src="~/Scripts/angular-app/app.js"></script>
    <script src="~/Scripts/angular-app/services/project.service.js"></script>
    <script src="~/Scripts/angular-app/controllers/dashboard.ctrl.js"></script>
}