@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div ng-controller="DashboardController as dashboard">
    <div class="container-fluid" ng-cloak ui-view></div>
</div>

@section scripts{
    <script>
        var _pageTitle = "@ViewBag.Title";
    </script>

    <script src="~/Scripts/angular-app/app.js"></script>
    <script src="~/Scripts/angular-app/config.js"></script>
    <script src="~/Scripts/angular-app/router.js"></script>

    <script src="~/Scripts/angular-app/filters/date.filter.js"></script>

    <script src="~/Scripts/angular-app/services/project.service.js"></script>
    <script src="~/Scripts/angular-app/services/task.service.js"></script>

    <script src="~/Scripts/angular-app/directives/project.directives.js"></script>
    <script src="~/Scripts/angular-app/directives/task.directives.js"></script>

    <script src="~/Scripts/angular-app/controllers/dashboard.ctrl.js"></script>
    <script src="~/Scripts/angular-app/controllers/project.ctrl.js"></script>
    <script src="~/Scripts/angular-app/controllers/task.ctrl.js"></script>
}